
.main 
  {width: 430px;}
.container 
    { display: flex;
      flex-direction: column;
      gap: 32px;
     align-items: center;
     
    }

 .container--1 
    { width: 100%;
      align-items: center;
     }

.card 
    { display: flex;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
         }

.card--1
    { width: 343px;
      height: 290px;
      background-color:#7551DC;
      color: white;
      }

.card__header.card__header--1
    { font-family: "DM Sans", serif;
      font-size: 46px ;
      font-weight:80% ;
      line-height: 42px;
      text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
      
       }   

.card__header.card__header--1
     { width: 279px;
       height: 126px;
       padding: 0px auto;
       text-align: center;
       margin: 0 auto;
       margin-top: 40px;
       margin-bottom: 24px;}

.card__image.card__image--1
       { width: 192px;
         height: 32px;
         margin: 0 auto;
         margin-bottom: 8px; }

.card__text.card__text--1
        { font-family: "Dm Sans" ;
          font-size: 18px;
          margin: 0 auto;}

.card__header--different-color
        {color: #FFCC6A ;}

.card.card--2
       { width: 343px;
         height: 240px;
         background-color: #FFFFFF;
        
        }

.card__image--2
        { width: 317px; 
          height: 66.5px ;
          margin: 16px auto ;
          
         }





.card__header.card__hearder--2
        { width: 311px;
          height: 126px;
          font-family:"Dm Sans" ;
          font-size: 42px;
          line-height: 42px;
          font-weight: 500;
          letter-spacing: -1.84px;
          margin: 0 auto;
          text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
          }

.card.card--3
          {width: 343px;
           height: 216.25px;
           background-color: #FFCC6A;
           overflow: hidden;
            }



.card__header.card__hearder--3
          {font-family: "Dm Sans";
            font-weight: 500;
            line-height: 26px;
            width: 311px;
            height: 48px;
            margin: 16px;

           }

.card__image.card__image--3
           {width: 208px;
            height: 157px;
           padding-left: 16px;
           }


.card.card--4

           {width: 343px;
            height: 468.91px;
            background-color: #DBD1FC;
            overflow: hidden;
             }
 
 
 
 .card__header.card__hearder--4
           {font-family: "Dm Sans";
             font-weight: 500;
             line-height: 24px;
             letter-spacing:-1.04px ;
             font-size: 26px;
             margin: 32px 32px 32px 24px;
             
 
            }
 
 .card__image.card__image--4
            {width: 308px;
             height: 272.91px;
             display: block;
             margin: 0 auto;
           
            } 
            
.card__text--4
            { font-family: "Dm sans";
              font-size: 18px ;
              font-weight: 400 ;
              width: 279px;
              text-align: center;
              margin: 0 auto;
              padding-top: 24px;}
             
             
.container.container--2
              {margin: 32px 0px 32px 0px;}


.card.card--5
              {width: 343px;
               height: 344.22px;
               background-color:#7551DC;
               color: #FFFFFF;}


.card__header.card__hearder--5
              {font-family: "Dm Sans";
                font-weight: 500;
                font-size: 32px;
                line-height: 28px;
                letter-spacing: -1.92px;
                text-align: center;
                width: 257px;  
                margin: 0 auto;
                
      
               }
    
.card__image.card__image--5
               {width: 227.68px;
                height: 200.22px;
                margin: 0 auto;
                box-sizing: content-box;
                padding-top: 24px ;
                padding-bottom: 40px ;
               } 








